<header class="top-menu">
    <nav class="top-menu__nav">
        <div class="left">
            <a href="/" class="logo">CV</a>
            <a href="/" data-i18n="mentor_menu"></a>
            <a href="/" data-i18n="snippet_menu"></a>
        </div>

        <div class="top-menu__actions">
            <div class="lang-switch">
                <button id="lang-ru">RU</button>
                <span>·</span>
                <button id="lang-en">EN</button>
            </div>
        </div>
    </nav>
</header>