.menu-items,
.lang-switch {
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 12px;
}

.menu-items a,
.lang-switch a {
    all: unset;
    cursor: pointer;
    opacity: 0.6;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.menu-items a.active,
.lang-switch a.active {
    opacity: 1;
    font-weight: 700;
    text-decoration: underline;
}

.menu-items span,
.lang-switch span {
    opacity: 0.4;
}

.top-menu__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.lang-switch {
}

.top-menu__right {
    position: relative;
}

.lang-switch {
    position: absolute;
    top: 12px;
    right: 16px;
}